<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count="2">
<listeners>
    <listener class-name = "TestCases.Listeners"></listener>
    </listeners>
  <test name = "Parallel Tests chrome" >
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="TestCases.AutomationPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name = "Parallel Tests firefox" parallel = "tests" thread-count="2">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="TestCases.AutomationPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

